/* Global Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  height: 100vh;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

p {
  color: hsl(0, 0%, 50%);
}

/* Section Styles */

#left {
  width: 45%;
  background: linear-gradient(to top right, hsl(243, 86%, 85%), hsl(243, 87%, 12%));
}

#right {
  width: 55%;
}

/* Header & Nav Styles */

header {
  display: flex;
  justify-content: space-between;
}
