/* Global Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */

h1, h2, h3, h4, h5, h6,
label {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: hsl(243, 87%, 12%);
}

h1 {
  font-size: 2rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Section Styles */

#left {
  width: 45%;
  background: linear-gradient(to bottom left, hsl(243, 87%, 12%), hsl(243, 86%, 85%));
  display: flex;
  justify-content: center;
  align-items: center;
}

#right {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
}


/* Header & Nav Styles */

header {
  display: flex;
  justify-content: space-between;
}

ion-icon {
  font-size: 30px;
  margin-left: 2.5rem;
  color: hsl(243, 87%, 12%);
}

/* Main Content Styles */

#main-content > p {
  color: hsl(0, 0%, 50%);
  margin-top: 2rem;
}


/* Form Styles */

form {
  margin-top: 4rem;
}

label {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}

input[type="email"] {
  height: 4rem;
  width: 18rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

input[type="submit"] {
  background-color: hsl(163, 95%, 43%);
  height: 4rem;
  width: 11rem;
  border-radius: 0.3rem;
  color: #fff;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 3px 3px 5px hsl(0, 0%, 70%);
}

/* Footer Styles */

footer {
  text-align: right;
  font-size: 0.8rem;
}

/* Media Queries */

@media only screen and (max-width: 1115px) {

  body {
    flex-direction: column;
  }

  #left {
    width: 100%;
  }

  #right {
    width: 100%;
  }

}
